html {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
body {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[canvas=container] {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[off-canvas] {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
[canvas] {
	z-index: 1;
}
[canvas=container] {
	width: 100%; height: 100%; background-color: white; -webkit-overflow-scrolling: touch;
}
[canvas=container]::before {
	clear: both; display: table; content: "";
}
[canvas=container]::after {
	clear: both; display: table; content: "";
}
[off-canvas] {
	color: white; display: none; position: fixed; -ms-overflow-y: auto; background-color: rgb(255, 255, 255); -webkit-overflow-scrolling: touch;
}
[off-canvas*=top] {
	top: 0px; width: 100%; height: 255px;
}
[off-canvas*=right] {
	top: 0px; width: 255px; height: 100%; right: 0px;
}
[off-canvas*=bottom] {
	width: 100%; height: 255px; bottom: 0px;
}
[off-canvas*=left] {
	left: 0px; top: 0px; width: 242px; height: 100%;
}
[off-canvas*=reveal] {
	z-index: 0;
}
[off-canvas*=push] {
	z-index: 1;
}
[off-canvas*=overlay] {
	z-index: 9999;
}
[off-canvas*=shift] {
	z-index: 0;
}
[canvas] {
	transition:transform 300ms; -webkit-transform: translate( 0px, 0px ); -webkit-transition: -webkit-transform 300ms; -webkit-backface-visibility: hidden;
}
[off-canvas] {
	transition:transform 300ms; -webkit-transform: translate( 0px, 0px ); -webkit-transition: -webkit-transform 300ms; -webkit-backface-visibility: hidden;
}
[off-canvas*=shift][off-canvas*=top] {
	-webkit-transform: translate( 0px, 50% );
}
[off-canvas*=shift][off-canvas*=right] {
	-webkit-transform: translate( -50%, 0px );
}
[off-canvas*=shift][off-canvas*=bottom] {
	-webkit-transform: translate( 0px, -50% );
}
[off-canvas*=shift][off-canvas*=left] {
	-webkit-transform: translate( 50%, 0px );
}
@media print
{
[canvas] {
	-webkit-transform: translate( 0px, 0px );
}
[off-canvas] {
	display: none !important;
}
}
