.relatedlink {
	margin: 2em 0px; width: 100%;
}
.relatedlink::before {
	padding: 0.7em 0px 1.2em; font-size: 1.5em; font-weight: 700; border-top-color: rgb(0, 0, 0); border-top-width: 2px; border-top-style: solid; display: block; content: "ŠÖ˜AƒŠƒ“ƒN";
}
.relatedlink .item {
	margin-left: 0px; border-top-color: rgb(153, 153, 153); border-top-width: 2px; border-top-style: dotted; list-style-type: none;
}
.relatedlink :last-child.item {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 2px; border-bottom-style: dotted;
}
.relatedlink .link {
	margin: -0.9em 0px; padding: 0.6em 0px 1.3em; width: 100%; border-top-color: rgb(153, 153, 153); border-top-width: 2px; border-top-style: dotted; display: table;
}
.relatedlink .link .linkthumb {
	display: table-cell;
}
.relatedlink .link .linktitle {
	display: table-cell;
}
.relatedlink .link .linkthumb {
	background: no-repeat center / cover; width: 20vw; height: 20vw;
}
.relatedlink .link .noimage {
	width: 1px;
}
.relatedlink .link .linktitle {
	width: 75vw; color: rgb(51, 51, 51); line-height: 1.4; padding-left: 2vw; font-size: 3.8vw; vertical-align: middle;
}
@media screen and (min-width:768px)
{
.relatedlink .link .linkthumb {
	width: 120px; height: 80px;
}
.relatedlink .link .noimage {
	width: 1px;
}
.relatedlink .link .linktitle {
	width: 750px; padding-left: 10px; font-size: 1.4em;
}
}
